:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(199, 199, 199);
    --secondary: rgb(0, 59, 50);
    --bgLight: rgb(199, 207, 213);
  }
  html{
    scroll-behavior: smooth;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  header {
    background-color: var(--bgDark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
  }
  header nav .left a {
    color: var(--white);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  header nav .left a:hover {
    color: var(--primary);
  }
  header nav {
    padding: 2rem 0;
  }
  header nav .logo {
    margin-right: 3rem;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  .container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .hero {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .hero .left img {
    width: 400px;
    height: 600px;
    margin: 70px;
  }
  .hero .right {
    color: var(--white);
    margin-top: -7rem;
  }
  .hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
  }
  .hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  .hero .right h1 span {
    color: var(--primary);
  }
  .hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
  }
  
  section {
    padding: 6rem;
  }
  section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  section.about h1 span {
    color: var(--primary);
  }
  section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  section.about p {
    font-family: "Lato", sans-serif;
    color: var(--secondary);
    line-height: 1.9rem;
    margin-bottom: 2rem;
  }
  section.about .socials {
    display: flex;
  }
  section.about .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    margin-right: 0.8rem;
    border-radius: 50%;
  }
  section.about .socials a:hover {
    background: var(--primary);
  }
  
  section.services {
    background: rgb(17, 17, 17);
  }
  .services-head {
    color: rgb(10, 9, 9);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    color: var(--primary);
  }
  .services-head + p {
    color: var(--white);
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
  }
  .card img {
    width: 50px;
    background: white;
  }
  section.services .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  section.services .card-grid .card {
    background: var(--white);
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transition: all 0.2s ease;
  }
  section.services .card-grid .card img {
    position:absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
  }
  section.services .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
  section.services .card-grid .card p {
    font-family: "Lato", sans-serif;
    color: var(--seconday);
    line-height: 1.6;
  }
  section.services .card-grid .card:hover {
    background: var(--primary);
  }
  section.services .card-grid .card:hover h2 {
    color: var(--white);
  }
  section.services .card-grid .card:hover p {
    color: var(--white);
  }
  
  .flex {
    display: flex;
  }
  .items-centre {
    align-items: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-right {
    justify-content: right;
  }
  .btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  .btn-primary {
    background-color: var(--primary);
    color: var(--secondary);
    margin-top: -15rem;
  }
  .btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
  }
  .flex-1 {
    flex: 1;
  }
  .btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
  .btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);

  }
  .skill {
    width: 500px;
    margin: 60px auto;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10 px rgba(0,0,0,0.22);
  }
  #my{
    color:rgb(0, 0, 0)
  }
  .bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10 px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10 px rgba(0,0,0,0.22);
  }
  .bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(5, 143, 88)0%, rgb(78, 141, 117)100%);
  }
  .html{
    width: 90%;
    animation: html 3%;
  }
  .css{
    width: 85%;
    animation: css 3%;
  }
  .javascript{
    width: 70%;
    animation: javascript 3%;
  }
  .python{
    width: 70%;
    animation: python 3%;
  }
  .AIML{
    width: 0%;
    animation: AIML 3%;
  }
  .c{
    width: 70%;
    animation: c 3%;
  }
  @keyframes html{
    0%{
      width: 0%;
    }
    100%{
      width:90%
    }
  }
  @keyframes css{
    0%{
      width: 0%;
    }
    100%{
      width:85%
    }
  }
  @keyframes javascript{
    0%{
      width: 0%;
    }
    100%{
      width:70%
    }
  }
  @keyframes python{
    0%{
      width: 0%;
    }
    100%{
      width:70%
    }
  }
  @keyframes AIML{
    0%{
      width: 0%;
    }
    100%{
      width:60%
    }
  }
  @keyframes c{
    0%{
      width: 0%;
    }
    100%{
      width:70%
    }
  }
  .contact {
    background: #4f333300;
    position: relative;
    height: 30vh;
  }
  
  .contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contact-content h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #25b79f;
    padding-bottom: 0.5rem;
  }
  
  .contact-content .mail {
    color: #f0f0e6;
    padding-bottom: 0.2rem;
    font-size: 1rem;
  }
  
  .contact-content .links {
    color: #25b79f;
    padding: 0.5rem;
    padding-bottom: 1.8rem;
    font-size: 1rem;
  }
  
  .contact-content a {
    text-decoration: none;
    color: #25b79f;
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
  }
  
  .contact-content a:hover{
    color: #f0f0e6;
  }